asgiref==3.3.1
beautifulsoup4==4.9.3
certifi==2020.12.5
Django==3.1.7
django-bootstrap-datepicker==1.4.0
django-bootstrap-datepicker-plus==3.0.5
django-bootstrap4==2.3.1
django-crispy-forms==1.11.1
django-filter==2.4.0
django-unused-media==0.2.2
Pillow==8.1.1
pytz==2021.1
six==1.15.0
soupsieve==2.2
sqlparse==0.4.1
wincertstore==0.2
